.animal {
    border: 1px solid grey;
    box-shadow: 0.1em 0.1em 0.2em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.animal .icone{
    font-size: 4em;
}

.animal .nome{
    font-weight: 600;
}

.animal .peso{
    opacity: 0.6;
}

.animal .exticao{
    background-color: darkred;
    color: white;
    min-height: 1em;
}